@import "tailwindcss";

@theme {
	--font-sans: 'Space Grotesk', system-ui, sans-serif;
	--font-orbitron: 'Orbitron', sans-serif;
	--font-grotesk: 'Space Grotesk', system-ui, sans-serif;
}

body {
	@apply bg-white text-gray-900 antialiased;
}
